@font-face{
	font-family: "champions";
	src:url("../font/Champions-Bold.ttf");
}
body{
	font-family: 'champions';
	background-color: black;
    margin: 0;
    padding: 0;
	-webkit-font-smoothing:antialiased;
}

.UCL_Live{
	position:absolute;
}
.back_image{
	width: 400px;
	padding: 0;
	display: block;
}
.card-inner{
	position: relative; 
	z-index:2; 
	color: #FFF;
}
.rating{
	font-size:84px;
	top: 62px;
	left: 53px;
	width: 100px;
	text-align: center;
	position: absolute; 
}
.position{
    font-size:38px;
    top: 149px;
    left: 53px; 
    width: 100px;
    text-align: center;
    position: absolute; 
}
.griezmann_image{
	top: 50px;
	left:150px;
	position: absolute; 
}
.dynamic-image{
	width: 240px;
	vertical-align: middle;
}
.name{
	font-size: 52px;
	width: 260px;
	top: 328px;
	left: 70px;
	line-height: 50px;
	text-align: center;
	white-space: nowrap;
	position: absolute; 
}
.atletico{
	vertical-align: middle;
	width: 100px;
    top: 262px;
    left: 53px;
    text-align: center;
    position: absolute; 
}
.atletico_image{
	width: 56px;
    text-align: center;	
}
.france{
	width: 100px;
    top: 210px;
    left: 53px;
    text-align: center;
    position: absolute; 

}
.france_image{
	width: 56px;
	text-align: center;
}
.degree1{
	top: 388px;
	left:68px;
    font-size: 38px; 
}
.degree2{
	top: 388px;
	left: 228px;
	font-size: 38px;
}
.degree3{
	top: 429px;
	left: 68px;
	font-size: 38px; 
}
.degree4{
	top: 429px;
	left: 228px;
	font-size: 38px; 
}
.degree5{
	top: 470px;
	left: 68px;
	font-size: 38px;
}
.degree6{
	top: 470px;
	left: 228px;
	font-size: 38px;
}
.degree1,.degree2,.degree3,.degree4,.degree5,.degree6{
	position: absolute;
}
.cat-name1,.cat-name2,.cat-name3,.cat-name4,.cat-name5,.cat-name6{
	position: absolute;
	font-size: 37px;
	opacity: 0.8;
}

.cat-name1,.cat-name3,.cat-name5{
	left: 115px;
	position: absolute; 
}
.cat-name2,.cat-name4,.cat-name6{
	left: 275px;
	position: absolute; 
}
.cat-name1,.cat-name2{
	top: 390px;
}
.cat-name3,.cat-name4{
	top: 430px;
}
.cat-name5,.cat-name6{
	top: 470px;
}
.chemistry{
	position: absolute;
	top: 535px;
	left: 180px;
	opacity: 0.7;
}
.chemistry_image{
	width: 36px;
	filter: brightness(1); invert(0.1);
	vertical-align: middle;
}

